@charset "UTF-8";

/*
    Paleta de Cores

    Verde: #49a09d
    Lilás: #5f2c82
*/

@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Jaro:opsz@6..72&family=Madimi+One&display=swap');

* {
    font-family: 'Hanuman', 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(imagens/detalhe-login.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

form label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #b5f5f3;
    font-size: 1em;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 50px);
    height: 100%;
    transform: translateY(-15px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #306967;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #306967;
}

form > a.botao:hover {
    background-color: #5ccac7;
}

form > a.botao > i {
    font-size: 0.8em;
}